<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %> <!-- Head Section -->

  <!-- Tailwind CSS -->
  <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>

  <!-- Import Maps for JavaScript -->
  <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
  <%= render 'layouts/navbar' %> <!-- Navigation Bar -->
  <%= render 'layouts/flash' %> <!-- Flash Notice -->

  <!-- Main Content -->
  <main class="container mx-auto px-5 py-8">
    <%= yield %>
  </main>
</body>
</html>
